.switch-drop {
    display: flex;
    align-items: center;
}

.sub-dropdown {
    display: none;
}

.sub-dropdown > span {
    margin: 0.5rem 0rem;
}

.sub-label {
    font-size: 12px;
}

.sub-label label {
    text-indent: calc(45px/2 + 0.5rem/2);
}

.sub-label label::before, .sub-label label::after {
    left: calc(-45px/2 + 1rem/2);
}

.sub-dropdown .form-input {
    margin: 0.5rem 0;
}

.switch.switch-sm input:checked + label.sub-label::before {
    height: 16px;
}

.switch.switch-sm input + label.sub-label::before {
    height: 16px;
}

.switch.switch-sm input:checked + label.sub-label::after {
    height: 10px;
}

.switch input + label.sub-label::after {
    height: 10px;
}

.switch.switch-sm input + label.sub-label {
    min-width: calc(calc(1.9375rem * .8) * 2);
    height: calc(0.8rem * .8);
    line-height: calc(1.2rem * .8);
    font-size: 0.7rem;
}


.switch.switch-sm input[data-state] + label::after {
    background-color: #FF8800;
}